version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: energie-app
    container_name: energie-app
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    networks:
      - energie-network

networks:
  energie-network:
    driver: bridge
